@import 'src/scss/typography';

.resultContainer {
    width: 766px;
    background-color: var(--color-navy-600);
    box-shadow: 0px 0px 20px rgba(0, 28, 54, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 390px;
    padding-bottom: 15px;
}

.reviewTabOpen {
    padding-bottom: 30px;
}

.topContentWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.leftContentWrapper {
    margin-top: 19px;
    margin-left: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.storeIconWrapper {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.storeDetailsWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}

.storeName {
    @include header-1-bold;
    color: var(--color-white);
}

.storeAddress {
    @include body-3-regular;
    font-size: 11px;
    font-weight: 300;
    color: var(--color-white);
}

.tagsWrapper {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ratingTagWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    width: fit-content;
    height: 24px;
    background-color: rgba(248, 109, 31, 0.15);
}

.ratingStars {
    margin-bottom: 1px;
}

.dataSlider {
    margin-top: 30px;
}

.dataTableContainer {
    position: relative;
    height: 250px;
    overflow: scroll;
    margin-top: 15px;
}

.dataTable {
    width: 722px;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 10px;
}

.linesTable {
    width: 722px;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0 10px;
    margin-top: 15px;
}

.headerRow {
    background-color: rgba(206, 214, 224, 0.1);
    height: 37px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.headerText {
    @include body-3-bold;
    font-size: 10px;
    letter-spacing: 0.05em;
    color: var(--color-gray-600);
}

.headerText:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 75px;
}

.headerText:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

td {
    text-align: center;
}

.tagCell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textCell {
    @include body-3-regular;
    color: var(--color-white);
}

.reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 260px;
    overflow: scroll;
    margin-top: 30px;
    width: 722px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviewTopContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.personIconWrapper {
    background-color: var(--color-green-600);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewTextContent {
    margin-left: 7px;
}

.reviewUsername {
    @include header-2-bold;
    color: var(--color-white);
}

.reviewDateTime {
    @include body-3-regular;
    color: var(--color-white);
    font-weight: 300;
}

.ratingsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.reviewRatingTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background: rgba(248, 109, 31, 0.15);
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    border-radius: 5px;
}

.reviewRatingTagText {
    @include body-3-medium;
    font-size: 10px;
    text-transform: uppercase;
    color: var(--color-yellow-600);
}

.reviewComments {
    @include body-3-regular;
    color: var(--color-white);
}

.noData {
    @include title-3-bold;
    color: var(--color-gray-600);
    margin-top: 50px;
    padding-bottom: 40px;
}
