@import 'src/scss/typography';

.navigationBar {
	width: 100%;
	height: 68px;
	background: var(--color-navy-600);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navigationBarLogo {
	width: 45px;
	height: 45px;
	margin-left: 15px;
	margin-right: 50px;
}

.navigationOptionsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 72px;
}

.navigationOption {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	margin-top: -5px;
	&:hover {
		cursor: pointer;
		color: var(--color-white);
	}
}

.navigationOptionText {
	@include header-1-medium;
	color: var(--color-white-faded);
	&:hover {
		color: var(--color-white);
	}
}

.navigationOptionTextActive {
	@include header-1-medium;
	color: var(--color-white);
}

.sliderIndicator {
	left: 0;
	position: relative;
	height: 5px;
	width: 0;
	background: var(--color-green-600);
	top: 43px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	transition: 0.3s;
}

.navigationBarLeftContainer {
	display: flex;
	flex-direction: row;
	position: fixed;
	right: 30px;
}

.navigationBarButtonsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 14px;
}

.creditsCounterButton {
	height: 42px;
	font-size: 15px;
	font-weight: 700;
}

.contributeButton {
	height: 42px;
	font-size: 15px;
	font-weight: 700;
}

.navigationBarIconsContainer {
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 25px;
}

.navigationBarIcon {
	&:hover {
		cursor: pointer;
		filter: opacity(0.75);
	}
}
