@import 'src/scss/typography';

.pageWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.visualWrapper {
    width: 55%;
    height: 100vh;
    margin-right: 0;
    background: var(--color-green-600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.visualWrapperText {
    text-align: center;
    position: absolute;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visualHeader {
    @include title-4-bold;
    color: var(--color-navy-600);
}

.visualDescription {
    @include body-2-regular;
    color: var(--color-navy-600);
    width: 400px;
    margin-top: 2px;
}

.signupWrapper {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
