// green variables
$color-green-100: rgba(50, 211, 202, 0.1);
$color-green-200: rgba(50, 211, 202, 0.5);
$color-green-400: #32d3ca;
$color-green-600: #2ebfb7;
$color-green-800: #2ebfb7;

// navy variables
$color-navy-100: rgba(206, 214, 224, 0.25);
$color-navy-200: rgba(206, 214, 224, 0.5);
$color-navy-300: #ced6e0;
$color-navy-400: #778391;
$color-navy-600: rgba(0, 28, 54, 0.85);
$color-navy-800: #001c36;

// purple variables
$color-purple-100: rgba(130, 107, 249, 0.25);
$color-purple-200: rgba(130, 107, 249, 0.5);
$color-purple-400: rgba(130, 107, 249, 0.75);
$color-purple-600: #826bf9;
$color-purple-800: #7560df;

// blue variables
$color-blue-100: rgba(39, 151, 255, 0.25);
$color-blue-200: rgba(39, 151, 255, 0.5);
$color-blue-400: rgba(39, 151, 255, 0.75);
$color-blue-600: #2797ff;
$color-blue-800: #248ae8;

// red variables
$color-red-100: rgba(255, 74, 74, 0.25);
$color-red-200: rgba(255, 74, 74, 0.5);
$color-red-400: rgba(255, 74, 74, 0.75);
$color-red-600: #ff4a4a;
$color-red-800: #e33e3e;

// gray variables

// white and black
$color-white: #ffffff;
$color-black: #000000;
