@import 'scss/mixins/_typography.scss';

.button {
	padding: 12px 29px;
	border-radius: 12px;
	@include title-4-bold;
	border: none;

	&:focus {
		outline: none;
	}
}

.primary {
	background-color: var(--color-green-400);
	color: var(--color-navy-800);

	&:hover {
		cursor: pointer;
		background-color: var(--color-green-300);
	}
}

.secondary {
	background-color: var(--color-navy-800);
	color: var(--color-white);

	&:disabled {
		background-color: var(--color-navy-400);
		&:hover {
			cursor: not-allowed;
			background-color: var(--color-navy-400);
		}
	}

	&:hover {
		cursor: pointer;
		background-color: var(--color-navy-600);
	}
}
