@import 'scss/mixins/_typography.scss';

.button {
	@include title-4-bold;
	padding: 12px 25px;
	border-radius: 12px;
	border: none;

	svg {
		padding-right: 10px;
	}

	&:focus {
		outline: none;
	}
}

.iconButton {
	padding: 12px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 51px;
}

.primary {
	background-color: var(--color-green-400);
	color: var(--color-navy-800);

	&:hover {
		cursor: pointer;
		background-color: var(--color-green-300);
	}
}

.secondary {
	background-color: var(--color-navy-800);
	color: var(--color-white);

	&:disabled {
		background-color: var(--color-navy-400);
		&:hover {
			cursor: not-allowed;
			background-color: var(--color-navy-400);
		}
	}

	&:hover {
		cursor: pointer;
		background-color: var(--color-navy-600);
	}
}
