$sizes: (
	20: 4px,
	28: 5px,
	38: 6px,
	50: 7px,
);

@each $size, $stroke in $sizes {
	.size-#{$size} {
		.circle {
			box-sizing: border-box;
			border-radius: 100%;
			animation: spin 1s infinite linear;
			height: #{$size}px;
			width: #{$size}px;

			&.dark {
				border: $stroke solid var(--color-navy-100);
				border-top-color: var(--color-navy-800);
			}

			&.light {
				border: $stroke solid var(--color-white-faded);
				border-top-color: var(--color-white);
			}

			&.green {
				border: $stroke solid var(--color-green-200);
				border-top-color: var(--color-green-600);
			}
		}
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
