@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'scss/variables/_colors.scss';
@import 'scss/mixins/_typography.scss';

:root {
	--color-green-100: #{$color-green-100};
	--color-green-200: #{$color-green-200};
	--color-green-300: #{$color-green-300};
	--color-green-400: #{$color-green-400};
	--color-green-600: #{$color-green-600};
	--color-green-800: #{$color-green-800};

	--color-navy-100: #{$color-navy-100};
	--color-navy-200: #{$color-navy-200};
	--color-navy-300: #{$color-navy-300};
	--color-navy-400: #{$color-navy-400};
	--color-navy-600: #{$color-navy-600};
	--color-navy-800: #{$color-navy-800};

	--color-purple-100: #{$color-purple-100};
	--color-purple-200: #{$color-purple-200};
	--color-purple-400: #{$color-purple-400};
	--color-purple-600: #{$color-purple-600};
	--color-purple-800: #{$color-purple-800};

	--color-blue-100: #{$color-blue-100};
	--color-blue-200: #{$color-blue-200};
	--color-blue-400: #{$color-blue-400};
	--color-blue-600: #{$color-blue-600};
	--color-blue-800: #{$color-blue-800};

	--color-red-100: #{$color-red-100};
	--color-red-200: #{$color-red-200};
	--color-red-400: #{$color-red-400};
	--color-red-600: #{$color-red-600};
	--color-red-800: #{$color-red-800};

	--color-white: #{$color-white};
	--color-black: #{$color-black};
}
